
data/raw/2017-12-31-pCdk2_2dDEER.DSC
scratch.ipynb
*.csv
data/raw/2018-04-18-Cdk2_2dDEER.DTA
data/raw/2017-12-31-pCdk2_2dDEER.DTA
data/raw/2018-04-18-Cdk2_2dDEER.DSC
.ipynb_checkpoints/scratch-checkpoint.ipynb
*.pyc
.ipynb_checkpoints/Venison-checkpoint.ipynb
.ipynb_checkpoints/Venison-checkpoint.ipynb
